extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .container.border.border-dark.my-3

        h1(class="mb-4") Chỉnh sửa thông tin

        form(
            action=`/user/editInfo/${user.id}?_method=PATCH`
            id="form-edit-product"
            method="POST"
            enctype="multipart/form-data"
        )   
            div(class="form-group")
                label(for="fullName") FullName
                input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    required
                    value=user.fullName
                )
            div(class="form-group")
                label(for="email") Email 
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required 
                    value=user.email
                )
            div(class="form-group")
                label(for="password") Password 
                input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                )
            div(class="form-group")
                label(for="phone") Phone 
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    value=(user.phone ? user.phone : "")
                )
            div(
                class="form-group"
                upload-image
            )
                label(for="avatar") Avatar 
                input(
                    type="file"
                    class="form-control-file"
                    id="avatar"
                    name="avatar"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=user.avatar
                    upload-image-preview
                    class="image-preview"
                )
            div(class="form-group")
                label(for="friend") Danh sách bạn bè 
                input(
                    type="text"
                    class="form-control"
                    id="friend"
                    name="friend"
                    value=nameFriends
                    readonly
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(user.status == "active" ? true : false)
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(user.status == "inactive" ? true : false)
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật