extends ../../layouts/default.pug

include ../../mixins/alert.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/pagination.pug
include ../../mixins/table-tree-blogs.pug

block main
    if(role.permissions.includes("blogs-category_view"))
        +alert-success(5000)

        h1 #{pageTitle}

        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +search(keyword)

        .card.mb-3
            .card-header Danh sách
                .card-body
                    .row
                        .col-8
                            +form-change-multi(`${prefixAdmin}/blogs-category/change-multi?_method=PATCH`)      
                        .col-4
                            if(role.permissions.includes("blogs-category_create"))
                                a(
                                    href=`${prefixAdmin}/blogs-category/create`
                                    class="btn btn-outline-success"
                                ) + Thêm mới bài viết

                    table(
                        class="table table-hover table-sm"
                        checkbox-multi
                    )
                        thead
                            tr
                                th
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Hình ảnh
                                th Tiêu đề
                                th Miêu tả
                                th Vị trí
                                th Trạng thái
                                th Hành động
                        tbody
                            +table-tree-blogs(data)

        //- +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-delete-blog"
            data-path=`${prefixAdmin}/blogs-category/delete`
        )

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/blogs-category/change-status`
        )

        script(src="/admin/js/blog-category.js") 
